<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/authorStyle.css}"/>
</head>
<body>
<div class="tablediv"><table>
    <h1>nothing</h1>
    <tr>
        <td><a th:href="@{/admin/admins}">admins </a></td>
        <td><a th:href="@{/admin/users}">users </a></td>
        <td><a th:href="@{/admin/templates}">templates </a></td>
        <td><a th:href="@{/admin/services}">services </a></td>
        <td><a th:href="@{/admin/orders}">orders </a></td>
        <td><a th:href="@{/admin/areas}">areas </a></td>
    </tr>
</table></div>


</body>
</html>