<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="authorStyle.css" type="text/css" media="all" href="authorStyle.css">
</head>
<body>
<ul class="top-bar">
    <li>
        <a th:href="@{/registration}">profile</a>
    </li>
    <li>
        <a href="offersPage.html">offers</a>
    </li>
    <li>
        <a href="infoPage.html">info</a>
    </li>
    <li>
        <a href="pricesPage.html">prices</a>
    </li>
</ul>
</body>
</html>