<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/ordersEditor}" method = "post">
    <input name="id" type = "hidden" th:value = "${value.id}">id</input>
    <input name = "userId" type="text" th:value="${value.user.id}">
    <input name = "serviceId" type="text" th:value="${value.service.id}">
<!--    <input name = "status" type="text" th:value="${value.status}">-->
    <select name = "status">
        <option data-th-each = "status1 : ${statusENUM}" th:value = "${status1.name}" th:text = "${status1.name}" th:selected = "${value.status.name.equals(status1.name)}"></option>
    </select>
    <input name = "action" type="text" th:value="${value.action}">
    <input type = "submit" value="update">
</form>
</body>
</html>