<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/EntitiesStyle.css}"/>
</head>
<body>
<form th:action = "@{/admin/serviceNameSearch}" method="post">
    <input th:name = "search" type="text">
    <input type="submit" value="update">
</form>
<ul th:each="value : ${servicesCollection}">
    <li><a th:href = "@{/servicesEditor(id = ${value.id})}">edit</a></li>
    <li><span th:text = "${value.name}">Name</span></li>
    <li><span th:text = "${value.description}">Description</span></li>
    <li><span th:text = "${value.price}">Price</span></li>
    <li><span th:text = "${value.template.id}">Template</span></li>
    <li><span th:text = "${value.user}">User</span></li>
    <li><span th:text = "${value.status}">Status</span></li>
</ul>

</body>
</html>