<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/EntitiesStyle.css}"/>
</head>
<body>
<form th:action = "@{/admin/templateSearch}" method="post">
    <input th:name = "search" type="text">
    <select name = "field">
        <option data-th-each = "field : ${fields}" th:value = "${field}" th:text = "${field}"></option>
    </select>
    <input type="submit" value="update">
</form>
<ul th:each="value : ${templatesCollection}">
    <li><a th:href = "@{/templatesEditor(id = ${value.id})}">edit</a></li>
    <li><span th:text = "${value.name}">Name</span></li>
    <li><span th:text = "${value.description}">Description</span></li>
    <li><span th:text = "${value.price}">Price</span></li>
    <li><span th:text = "${value.area.id}">Area</span></li>
</ul>

</body>
</html>