<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/EntitiesStyle.css}"/>
</head>
<body>
<form th:action = "@{/admin/userSearch}" method="post">
    <input th:name = "search" type="text">
    <select name = "field">
        <option data-th-each = "field : ${fields}" th:value = "${field}" th:text = "${field}"></option>
    </select>
    <select name = "fieldForSort">
        <option data-th-each = "fieldForSort : ${fieldsForSort}" th:value = "${fieldForSort}" th:text = "${fieldForSort}"></option>
    </select>
    <select name = "upDown">
        <option th:value="up" th:text="up">up</option>
        <option th:value="down" th:text="down">down</option>
    </select>
    <input type="submit" value="update">
</form>
<ul th:each="value : ${usersCollection}">
    <li><a th:href = "@{/usersEditor(login = ${value.login})}">edit</a></li>
<!--    <a th:href="@{/offersPage(login = ${login})}">offers</a>-->
    <li><span th:text = "${value.name}">Name</span></li>
    <li><span th:text = "${value.login}">Login</span></li>
    <li><span th:text = "${value.password}">Password</span></li>
    <li><span th:text = "${value.id}">Id</span></li>
</ul>

</body>
</html>