<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:each="value : ${userOrdersCollection}">
    <li><span th:text = "${value.service.id}">Service</span></li>
    <li><span th:text = "${value.status}">Status</span></li>
    <li><span th:text = "${value.action}">Action</span></li>
    <li><form th:action="@{/user/userOrders}" method="post">
        <input type="hidden" name = "id" th:value="${value.id}">
        <input type="hidden" name = "login" th:value="${login}">
        <input type = "submit" value="del">
    </form></li>
<!--    <li><form th:action="@{/offersPage}" method="post">-->
<!--        <input type="hidden" name = "serviceId" th:value="${value.id}">-->
<!--        <input type="hidden" name = "login" th:value="${login}">-->
<!--        <input type = "submit" value="update">-->
<!--    </form></li>-->
</ul>


</body>
</html>